:root {
  // Font size
  --fs-special: 18rem;
  --fs-12xl: 12rem;
  --fs-10xl: 10rem;
  --fs-6xl: 6rem;
  --fs-4xl: 4.8rem;
  --fs-3xl: 4rem;
  --fs-2xl: 3.4rem;
  --fs-xl: 3rem;
  --fs-lg: 2rem;
  --fs-md: 1.8rem;
  --fs-normal: 1.6rem;
  --fs-sm: 1.4rem;
  --fs-xs: 1.2rem;

  // Font weight
  --fw-extra-bold: 900;
  --fw-bold: 700;
  --fw-md: 500;
  --fw-normal: 400;
  --fw-thin: 300;

  // Color
  --color-white: #ffffff;
  --color-gray: #98a2b3;
  --color-black: #06080e;
  --color-dark-blue: #101828;
  --color-primary: #f97316;
  --color-secondary: #9a3412;
  --color-danger: #d92d20;
  --color-success: ##32d583;
  --color-warning: #fec84b;
  --color-info: #2194f3;
  --color-dark: #282d31;
  --color-light: #f2f4f7;

  --color-shade-t1: #f97316;
  --color-shade-t2: #ea580c;
  --color-shade-t3: #c2410c;
  --color-shade-t4: #9a3412;
  --color-shade-t5: #7c2d12;

  --color-tint-t1: #fb923c;
  --color-tint-t2: #fdba74;
  --color-tint-t3: #fed7aa;
  --color-tint-t4: #ffedd5;
  --color-tint-t5: #fff7ed;

  --border-color: #1011113b;

  // Box shadow
  --16px-shadow: 0 1.6rem 3.2rem 0 rgba(171, 190, 209, 0.3);
  --8px-shadow: 0 0.8rem 1.6rem 0 rgba(171, 190, 209, 0.4);
  --6px-shadow: 0 0.6rem 1.2rem 0 rgba(171, 190, 209, 0.3);
  --4px-shadow: 0 0.4rem 0.8rem 0.1rem rgba(171, 190, 209, 0.4);
  --2px-shadow: 0 0.2rem 0.2rem 0.15rem rgba(171, 190, 209, 0.6);
}
