.input {
  border-radius: rem(6px);
  border: rem(1px) solid var(--color-light);
  @include text;
  transition: all 0.25s ease-in-out;
  outline: none;
  @include text;

  &:hover {
    border-color: var(--color-primary) !important;
  }

  &:focus {
    border-color: var(--color-primary) !important;
  }

  // Size
  &.sm {
    padding: rem(6px) rem(10px);
  }

  &.normal {
    padding: rem(8px) rem(12px);
  }

  &.md {
    padding: rem(10px) rem(14px);
  }

  &.lg {
    padding: rem(12px) rem(16px);
  }

  // width
  &.full {
    width: 100%;
  }

  &.auto {
    width: auto;
  }

  // Type
  &.text {
    outline: none;
  }

  &.checkbox {
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0;
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid var(--color-tint-t4);
    border-radius: rem(5px);
    background: none;
    transition: all 0.25s ease-in-out;

    &:hover {
      border-color: var(--color-light);
    }

    &:checked {
      border-color: var(--color-light) !important;
      background-color: var(--color-primary);
    }
  }

  &.error {
    border-color: var(--color-danger) !important;
  }

  &.radio {
  }
}
